# Telegram Bot Token (@BotFather orqali olinadi)
TELEGRAM_BOT_TOKEN=YOUR_BOT_TOKEN_HERE

# Bot Administrator ID (@userinfobot orqali o'z ID raqamingizni bilib oling)
ADMIN_ID=6718166903

# Admin Telegram Username
ADMIN_USERNAME=@xam1du11ayev

# Bot kanali / sarlavha caption
BOT_CAPTION=👉 @SaveTuneX_bot

# Yuklanadigan maksimal fayl hajmi (MB)
MAX_FILE_SIZE_MB=48

# Qidiruv natijalari soni (1-10)
SEARCH_RESULTS_COUNT=5
